page-login {
    ion-content{
        background-color: #ededed !important;
    }
    .img-logo{
        width: 100%;
        padding: 0 5em;
        position: absolute;
        z-index: -100;
        opacity: .3;
    }
    h2{
        margin-top: 33%;
    }
    h2,h1,p{
        text-align: center;
    }
    ion-item{
        background-color: transparent !important;
    }
    .botones-login{
        text-align: center;
    }
    div button{
        width: 60%;
    }
    ion-row{
        width: 60%;
        margin: 0 auto;
    } 
    ion-row img{
        width: 100%;
        height: 100%;
    }
}
