page-list {
    img{
        width: 80%;
        margin: auto;
    }
    .tituloProducto{
        text-align: center;
    }
    .buttonsearch{
        width: 50%;
        margin-left: 25%;
    }
    ion-content{
        background-color: #ededed !important;
    }
    h3{
        text-align: center;
    }

}
