page-home {
    ion-content, ion-item {
        background-color: #ededed !important;
    }
    ion-content{
        text-align: center;
    }
    img{
        max-width: 50px;
    }
    ion-item{
        float: left;
    }
    ion-label span{
        font-size: 20px;
        margin-left: 15%;
        margin-top: 15px;
        position: absolute;
    }
}
